<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4><strong>ユーザー</strong></h4>
      <%= render 'info', user: @user %>
      <%= render 'books/form', book: @book %>
    </div>
    <div class="col-md-8 offset-1">
      <h4>ユーザー一覧</h4>
      <table class="table">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>ユーザー名</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(40, 40) %></td>
            <td><%= link_to user.name, user_path(user.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>