
<div class="container">
  <div class="row">
    <div class="col-3">
      <h4><strong>ユーザー情報</strong></h4>
      <%= render 'info', user: @user %><br>
      <%= render 'books/form', book: @book %>
    </div>
  </div>
</div>